.navbar-content-container {
  margin-block-start: 0px !important;
  border-radius: 0px !important;
  background-color: #455A64 !important;
  color: #fff;
}

.layout-navbar{
  padding: 0px !important;
}

.title-h2 {
  color: #F4511E;
}

.swal2-cancel {
  background-color: #D32F2F !important;
  color: #fff !important;
}

input{
  min-height: 39px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.v-toast__item--success {
  background-color: #43A047 !important;
}
