.repeatPlay, .pay, .cancel{


  .v-chip {
    background-color: #43A047 !important;
    color: #fff;
    border: 1px solid #90A4AE;
  }
  .v-card-item{
    padding-bottom: 10px;
  }
  .oddColumn{
    background-color: #f3f3f3;
  }
}
